body {
	background: #282c34;
}
.card {
	width: 20rem;
	padding: 2rem;
	margin: 250px auto;
}

.is-active {
	font-weight: 500;
	border-bottom: 2px solid #282c34;
	color: blue;
}

.alert-custom {
	padding: 20px 30px;
	width: 360px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px 2px #ddd;
	color: #fff;
	font-weight: 500;
	position: absolute;
	/* bottom: 150px; */
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.success {
	background-color: rgb(0, 138, 0);
}

.error {
	background-color: rgb(199, 29, 23);
}

/*post section*/
.card-post {
	width: 50rem;
	padding: 2rem;
	margin: 10px auto;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 10px 1px #ddd;
}

.tabs {
	margin: auto;
	width: fit-content;
}
.tab {
	padding: 5px 20px;
	font-size: 24px;
}

.post-title {
	background-color: #e6e6e6;
	padding: 1rem;
}

.comments-card {
	border: 1px solid #ddd;
	padding: 1.5rem;
}

.comments-card h1 {
	color: rgb(15, 15, 153);
}

.each-comments {
	border: 1px solid #eaeaea;
	padding: 1rem;
	margin: 10px;
}
